@model Sina_CSC_Project.Models.CityCreateViewModel

@{
    ViewData["Title"] = "LoadStates";
    Layout = null;
}

<div class="form-group">
    <label asp-for="StateId" class="control-label">نام استان</label>
    <select  class="form-control" asp-for="StateId" asp-items="ViewBag.StateId">
    </select>
</div>













